.navbar {
    box-sizing: border-box;
    background-color: #3f4043;
    height: 37px;
    /*padding-left: 20px;*/
    background-size: cover;
}

.container {
width: 320px;
margin: 0 auto;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 37px;
    margin-left: 19px;
}

.navbar-button {
    box-sizing: border-box;
    background-color: #000;
    padding:12px 14px;
    width: 42px;
    height: 37px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}

.navbar-button span {
    height: 2px;
    margin: 1px 0;
    width: 100%;
    background: #ffffff;
}

.navbar-button span:last-of-type {
    display: none;
}

.navbar-menu {
    background-color: #fafafa;
    position: absolute;
    right: 0;
    top: 37px;
    width: 182px;
    padding-bottom: 5px;
    display: none;
}

.navbar-menu-link {
    display: block;
    padding: 10px 12px;
    border-bottom: 1px solid #f2f2f2;
    color: #444;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.navbar-menu-link:hover {
    background-color: #f5f5f5;
}

.navbar-menu-link:active {
    background-color: #f5f5f5;
}
.navbar-menu:hover{
    display: block;
}

.header{
    /*padding-left: 20px;*/
    box-sizing: border-box;
    padding-top: 19px;
    /*padding-bottom: 94px;*/
    background: url("../images/header-fon copy 3.png") no-repeat;
    width: 320px;
    /*background-size: cover;*/
  display: block;
    height: 173px;
    margin: 0 auto 4px auto;

}

.header-title{
    margin-bottom: 11px;
    margin-left: 20px;
    /*margin-top: 19px;*/
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 24px;

}

.header-site-link{
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    color: #a6d6e0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.food-menu{
    display: flex;
    flex-wrap: wrap;
}

.food-menu-delivery {
    background-size: cover;
    background: url("../images/Pizza delivery fon copy 3.png");
}

.food-menu-item{
    position: relative;
    margin-right: 71px;
    flex-basis: 100%;
    text-decoration: none;
    margin-bottom: 1px;
}

.food-menu-name{
    padding: 27px 0;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.food-menu-item::after{
    position: absolute;
    top: 0;
    right: -71px;
    content: ">";
    width: 71px;
    height: 74px;
    font-family: 'Lato', sans-serif;
    background-color: #add9ae;
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-menu-uaix{
    background-size: cover;
    background: url("../images/UA_UX Salads fon copy 3.png");

}
.food-menu-desserts{
    background-size: cover;
    background: url("../images/Desserts fon copy 3.png");
}

/*section text-menu*/
.text-menu{
    font-family: 'Lato', sans-serif;
    font-size: 20.07px;
    font-weight: 400;
    text-align: left;
    margin-top: 26px;
}
.text-menu-header{
    color:  #3f4043;
}
.text-menu-text1{
    color:  #cbcdce;
    font-size: 10.03px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.text-menu-text2{
    color:  #acd9ad;
    background-color: #3d3e41;
    padding: 11px 83px 11px 19px;
}
.container-price{
    width: 285px;
    margin: 11px auto 0 auto;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    font-size: 15.05px;
    font-weight: 400;
    text-align: left;

}
.container-price ul{
    font-size: 13.55px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.container-price ul:nth-of-type(1){
    margin-top: 14px;
}
.container-price div:nth-of-type(2){
    margin-top: 16px;
    margin-bottom: 15px;
}

.text-menu-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price{
    font-weight: 700;
}
.description{
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    font-size: 8.78px;
    font-weight: 400;
    text-align: justify;
}
.container-price li:before{
    content: '';
    display: inline-block;
    height:2px;
    width: 2px;
    vertical-align: middle;
    border-radius:50%;
    background-color:#000;
    margin-right:5px;
}

.text-menu-text3{
    color:  #fff;
    background-color: #add9ae;
    padding: 12px 77px 12px 18px;
    margin-top: 29px;
    margin-bottom: 12px;
}
.text-menu-text4{
    color:  #fff;
    background-color: #add9ae;
    padding: 13px 38px 11px 41px;
    margin-top: 48px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
